* {
  box-sizing: border-box;
}

/* Arrière-plan avec image JPEG */
#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Couvre toute la page */
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.9);
}

/* Style de la boîte de chargement */
.loader {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo animé */
.animated-logo {
  width: 120px; /* Taille ajustée */
  height: auto;
  animation: spin 2s linear infinite; /* Animation de rotation */
  opacity: 1; /* Transparence */
}

/* Logo statique */
.static-logo {
  width: 150px; /* Taille ajustée */
  height: auto;
  opacity: 1; /* Transparence */
  margin-top: 10px;
}

/* Animation de rotation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Empêche le défilement */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f1f1f1;
}

/* Map styles */
#map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: left 0.3s ease; /* Transition pour l'adaptation de la carte */
}

.map,
.map2 {
  height: 100%; /* 100% de la hauteur du viewport */
  width: 100%; /* 100% de la largeur du viewport */
  background: white;
  margin: 0; /* Supprime les marges */
  border: none; /* Supprime les bordures */
}

.care-search-bar {
  position: absolute;
  top: 30px;
  left: 20%; /* Centré horizontalement */
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 70%;
  max-width: 500px;
}

#care-logo {
  width: 150px;
  height: auto;
  margin-right: 10px;
}

/* Conteneur pour l'input et l'icône */
.search-container {
  position: relative;
  width: 100%;
}

#care-search-input {
  width: 100%;
  border: 2px solid #ff440050; /* Contour orange foncé */
  padding: 10px 20px 10px 40px; /* Laisse de l'espace pour l'icône */
  border-radius: 20px;
  font-size: 14px;
  width: calc(100% - 40px); /* Ajuste la largeur en tenant compte de l'icône */
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease, padding 0.3s ease; /* Animation smooth */
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff4500; /* Couleur orange foncé */
  font-size: 18px;
  pointer-events: none; /* Laisse l'input capturer les clics */
}

/* Animation lors du clic pour la saisie */
#care-search-input:focus {
  background-color: rgba(255, 255, 255, 0.8); /* Accentue la couleur */
  padding: 10px 20px 10px 45px; /* Ajuste le padding pour mettre en évidence l'icône */
}

/* Pour les tablettes et petits écrans */
@media screen and (max-width: 768px) {
  .care-search-bar {
    position: absolute;
    top: 30px;
    left: 50%; /* Centre la barre de recherche horizontalement */
    transform: translateX(
      -50%
    ); /* Assure que la barre de recherche est centrée */
    width: 50%; /* Réduit la largeur de la barre de recherche à 50% de l'écran */
    padding: 8px 20px; /* Maintient un padding confortable */
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }

  #care-logo {
    width: 100px; /* Réduit la taille du logo pour les tablettes */
    margin-right: 8px; /* Assure un espacement entre le logo et le champ de recherche */
  }

  /* Conteneur pour l'input et l'icône */
  .search-container {
    position: relative;
    width: 100%;
  }

  #care-search-input {
    flex: 1; /* Permet au champ de recherche de s'étendre pour utiliser tout l'espace disponible */
    font-size: 12px; /* Réduit la taille du texte pour qu'il s'ajuste bien à la taille de la barre */
    border: 2px solid #ff440050; /* Contour orange foncé */
    outline: none;
    padding: 8px 10px 8px 40px; /* Espace pour l'icône */
    border-radius: 20px;
    width: calc(
      100% - 40px
    ); /* Ajuste la largeur en tenant compte de l'icône */
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease, border-color 0.3s ease,
      padding 0.3s ease; /* Animation smooth */
  }

  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ff4500; /* Couleur orange foncé */
    font-size: 18px;
    pointer-events: none; /* Laisse l'input capturer les clics */
  }

  /* Animation lors du clic pour la saisie */
  #care-search-input:focus {
    background-color: rgba(255, 255, 255, 0.8); /* Accentue la couleur */
    padding: 8px 10px 8px 45px; /* Ajuste le padding pour mettre en évidence l'icône */
    border-color: #ffa500; /* Change la couleur de la bordure au focus */
  }
}

/* Pour les très petits écrans (smartphones) */
@media screen and (max-width: 390px) {
  .care-search-bar {
    position: absolute;
    top: 30px;
    left: 50%; /* Centre la barre de recherche horizontalement */
    transform: translateX(-50%); /* Centre la barre de recherche */
    width: 80%; /* Utilise 80% de la largeur disponible */
    padding: 8px 20px; /* Réduit le padding pour s'adapter à la largeur */
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }

  #care-logo {
    width: 60px; /* Réduit encore la taille du logo */
    margin-right: 8px; /* Espace entre le logo et le champ de recherche */
  }

  /* Conteneur pour l'input et l'icône */
  .search-container {
    position: relative;
    width: 100%;
  }

  #care-search-input {
    flex: 1; /* Permet à l'input de prendre toute la place restante */
    font-size: 14px; /* Ajuste la taille de la police pour les petits écrans */
    border: 2px solid #ff4500; /* Contour orange foncé */
    outline: none;
    padding: 8px 10px 8px 40px; /* Espace pour l'icône */
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease, border-color 0.3s ease,
      padding 0.3s ease; /* Animation smooth */
    width: calc(
      100% - 40px
    ); /* Ajuste la largeur en tenant compte de l'icône */
  }

  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ff4500; /* Couleur orange foncé */
    font-size: 16px; /* Légèrement plus petite pour les petits écrans */
    pointer-events: none; /* Laisse l'input capturer les clics */
    transition: font-size 0.3s ease; /* Animation smooth pour l'icône */
  }

  /* Animation lors du clic pour la saisie */
  #care-search-input:focus {
    background-color: rgba(255, 255, 255, 0.8); /* Accentue la couleur */
    padding: 8px 10px 8px 45px; /* Ajuste le padding pour mettre en évidence l'icône */
    border-color: #ffa500; /* Change la couleur de la bordure au focus */
  }

  /* Allonger l'input lors du survol sur l'icône */
  .search-icon:hover + #care-search-input {
    padding-left: 60px; /* Augmente l'espace pour l'icône */
    transition: padding-left 0.3s ease; /* Animation smooth pour le padding */
  }
}

/* Style principal du conteneur */
#layer-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 10px;
  border-radius: 8px;
}

/* Style du Layer Slider Horizontal */
.custom-layer-slider-horizontal {
  display: flex;
  gap: 15px; /* Espacement entre les boutons */
  white-space: nowrap; /* Empêche le retour à la ligne des boutons */
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border: none;
  font-size: 14px;
}

.btn i {
  margin-right: 8px;
  font-size: 18px;
}

/* Effet au survol */
.btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #d36036;
}

/* Responsive Design pour les écrans jusqu'à 768px */
@media screen and (max-width: 768px) {
  /* Style principal du conteneur */
  #layer-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 10px;
    border-radius: 8px;
  }

  /* Style du Layer Slider Horizontal */
  .custom-layer-slider-horizontal {
    display: flex;
    gap: 10px; /* Espacement entre les boutons */
    white-space: nowrap; /* Empêche le retour à la ligne des boutons */
  }

  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border: none;
    font-size: 14px;
  }

  .btn i {
    margin-right: 8px;
    font-size: 18px;
  }

  /* Effet au survol */
  .btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}

/* Responsive Design pour les écrans jusqu'à 390px */
@media screen and (max-width: 390px) {
  /* Style principal du conteneur */
  #layer-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 10px;
    border-radius: 8px;
  }

  /* Style du Layer Slider Horizontal */
  .custom-layer-slider-horizontal {
    display: flex;
    gap: 10px; /* Espacement entre les boutons */
    white-space: nowrap; /* Empêche le retour à la ligne des boutons */
  }

  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border: none;
    font-size: 14px;
  }

  .btn i {
    margin-right: 8px;
    font-size: 18px;
  }

  /* Effet au survol */
  .btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}

/* Positioning the custom zoom controls */
#zoom-controls {
  position: absolute;
  top: 300px; /* Distance from the top */
  right: 20px; /* Distance from the right side */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between the zoom in and zoom out buttons */
  z-index: 1000; /* Ensure it appears above other map elements */
}

/* Styling the custom zoom buttons */
.zoom-btn {
  background-color: rgba(
    102,
    102,
    102,
    0.7
  ); /* Semi-transparent white background */
  border: none;
  border-radius: 50%; /* Make the buttons round */
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: white; /* Button text color */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Optional shadow for better visibility */
  line-height: 0; /* Reset line-height to avoid vertical misalignment */
  padding: 0;
}

.zoom-btn:hover {
  background-color: rgba(0, 0, 0, 0.6); /* Less transparency on hover */
}

/* Base styling for the layer switcher */
.layer-switcher {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.3); /* Contour sombre */
  z-index: 1000;
  overflow: hidden;
  transition: border-color 0.3s ease; /* Transition pour le changement de couleur du contour */
}

/* Initial collapsed state */
.layer-switcher.collapsed {
  width: 60px;
  height: 60px;
}

/* Expanded state on hover */
.layer-switcher:hover {
  border-color: rgba(0, 0, 0, 0.6); /* Contour plus sombre au survol */
  width: auto; /* Automatically adjust width based on content */
  height: auto; /* Automatically adjust height based on content */
}

/* Hide the switcher icon when hovering */
.layer-switcher:hover #switcher-icon {
  display: none; /* Hide the icon */
}

/* Styling for the placeholder or icon */
#switcher-icon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

/* Ensure the PNG fits well within the div */
#switcher-icon img {
  max-width: 110%; /* Slightly reduce the image size */
  max-height: 110%;
  width: auto;
  height: auto;
  object-fit: contain;
  margin-bottom: 5px;
}

/* Hide the layer options by default */
.layer-options {
  display: none;
  flex-direction: column;
  gap: 5px; /* Reduce space between options */
  padding: 5px;
}

/* Show the layer options when the switcher is hovered */
.layer-switcher:hover .layer-options {
  display: flex;
}

/* Styling for each layer option */
.layer-option {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s ease;
  width: 100px; /* Set a fixed width */
  height: 60px; /* Set a fixed height */
}

/* Styling for the images within layer options */
.layer-option img {
  width: 80px; /* Reduce the image size */
  height: 50px; /* Adjust the height */
  border-radius: 4px;
}

/* Styling for the spans (overlay text) */
.layer-option span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px; /* Reduce padding */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: 10px; /* Reduce font size */
  border-radius: 0 0 4px 4px;
}

/* Hover effect on the entire option */
.layer-option:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.ol-popup h1 {
  font-size: 1em;
  background-size: 2em;
  padding-left: 3em;
}
