* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Empêche le défilement */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f1f1f1;
}

.map,
.map2 {
  height: 100vh; /* 100% de la hauteur du viewport */
  width: 100vw; /* 100% de la largeur du viewport */
  background: white;
  margin: 0; /* Supprime les marges */
  border: none; /* Supprime les bordures */
}

/* CSS for the CARE logo */
#care-logo {
  position: absolute;
  bottom: 10px; /* Distance from the bottom of the map */
  left: 10px; /* Distance from the left side of the map */
  z-index: 1000; /* Ensure it appears above other map elements */
}

#care-logo img {
  width: 100px; /* Adjust the size of the logo */
  height: auto;
  opacity: 1; /* Slight transparency for better integration */
}
